*{
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: sans-serif;
    color: #777;
    font-size: 1.6rem;
}
.container{
    width: 90%;
    margin-inline: auto;
    padding: 1rem;
    text-align: left;
    border: 1px solid #ddd;
}
#header{
    padding: 1rem 2rem;
    background-color: #33a;
    box-shadow: 0 2px 20px 0 rgb( 0 0 0 / .75);
}
#header p{
    margin: 0;
    font-size: 3rem;
    font-weight: 900;
    color: white;
}
.tag{
    padding-left: .5rem;
    font-weight: normal;
    font-size: 2rem;
    padding: 0;
}